.navbar-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 0 2rem;
}

.navbar-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.navbar-logo {
    flex: 0 0 auto;
}

.logo-navbar {
    width: 250px;
}

.navbar-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 2rem;
}

.PosibleOption,
.ActiveOption {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.ActiveOption {
    color: rgb(192, 255, 91);
}

.navbar-cart {
    margin-left: 1rem;
}

.anchoCart {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}